.profile-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.profile-content {
    display: flex;
}

.profile-content_img {
    align-content: center;
    margin-right: 50px;
}

.profile-img {
    border: 1px solid #767676;
    border-radius: 100%;
    width: 130px;
    height: 130px;
}

.profile-user_name {
    margin: auto 0;
}

.profile-edit {
    align-content: center;
}

.profile-edit_button {
    border: 1px solid red;
    border-radius: 3px;
    padding: 5px 30px;
    text-decoration: none;
    color: red;
}

.bottom_bar {
    border-bottom: 1px solid;
}

.content {
    display: flex;
    margin: 50px 120px 8px;
}

.listing-goods {
    margin-right: 80px;
}

.listing-goods_button {
    text-decoration: none;
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.buy-goods_button {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}


.goods-img_container {
    margin: 60px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.goods-img_content {
    width: 230px;
    height: 230px;
    border: 1px solid;
    margin: 0 70px 100px 0;
}

.goods-img_content:nth-of-type(5n) {
    width: 230px;
    height: 230px;
    border: 1px solid;
    margin: 0 0 100px 0;
}

.goods-img {
    width: 100%;
    height: 100%;
}



button {
    border-color: transparent;
    background: transparent;
    cursor: pointer;
}